{{#each this}}

<div class='country-card'>
    <h2 class='card-title'>{{this.name}}</h2>
    <div class="card-info">
        <div class='card-description'>
            <p class='card-text'><span class='subtitle'>Capital:</span> {{capital}}</p>
            <p class='card-text'><span class='subtitle'>Population:</span> {{population}}</p>
            <p class='card-text subtitle'>Languages:</>
            <ul class='card-list'>
                {{#each this.languages}}
                <li class='card-text'>{{name}}</li>
                {{/each}}
            </ul>
        </div>
        <img src={{this.flag}} class='card-img' alt=`${Flag of }{{this.name}}` />
    </div>
</div>
{{/each}}